body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2b2b;
    font-family: 'Press Start 2P', cursive;
}

.menu-container {
    text-align: center;
    color: #f3f3f3;
}

h1 {
    font-size: 3em;
    margin-bottom: 40px;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
}

.menu-button {
    display: block;
    margin: 10px;
    padding: 20px;
    background-color: #ff4d4d;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.5em;
    transition: background-color 0.3s, transform 0.2s;
}

.menu-button:hover {
    background-color: #cc0000;
    transform: scale(1.1);
}
